*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
AutoProperties/.vs/
Construtor/.vs/
correcao-exercicios-fixacao/.vs/
Encapsulamento/.vs/
exemplo2-funcoes/.vs/
exemploFuncoes/.vs/
ExercicioFuncaoEstatica/.vs/
exercicios1-estrutura-sequencial/.vs/
exercicios2-estrutura-condicional/.vs/
exercicios3-estrutura-while/.vs/
exercicios4-estrutura-for/.vs/
FuncaoEstatica/.vs/
primeiros-exercicios/.vs/
Properties/.vs/

.vs/

# Pastas
AutoProperties/AutoProperties/bin
AutoProperties/AutoProperties/obj

Construtor/Construtor/bin
Construtor/Construtor/obj

correcao-exercicios-fixacao/correcao-exercicios-fixacao/bin
correcao-exercicios-fixacao/correcao-exercicios-fixacao/obj

Encapsulamento/Encapsulamento/bin
Encapsulamento/Encapsulamento/obj

exemplo2-funcoes/exemplo2-funcoes/bin
exemplo2-funcoes/exemplo2-funcoes/obj

exemploFuncoes/exemploFuncoes/bin
exemploFuncoes/exemploFuncoes/obj

ExercicioFuncaoEstatica/ExercicioFuncaoEstatica/bin
ExercicioFuncaoEstatica/ExercicioFuncaoEstatica/obj

exercicios1-estrutura-sequencial/exercicios1-estrutura-sequencial/bin
exercicios1-estrutura-sequencial/exercicios1-estrutura-sequencial/obj

exercicios2-estrutura-condicional/exercicios2-estrutura-condicional/bin
exercicios2-estrutura-condicional/exercicios2-estrutura-condicional/obj

exercicios3-estrutura-while/exercicios3-estrutura-while/bin
exercicios3-estrutura-while/exercicios3-estrutura-while/obj

exercicios4-estrutura-for/exercicios4-estrutura-for/bin
exercicios4-estrutura-for/exercicios4-estrutura-for/obj

FuncaoEstatica/FuncaoEstatica/bin
FuncaoEstatica/FuncaoEstatica/obj

primeiros-exercicios/primeiros-exercicios/bin
primeiros-exercicios/primeiros-exercicios/obj

Properties/Properties/bin
Properties/Properties/obj

